<servers>
  <server>
    <id>test-artifact-Test-artifact</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
  <profiles>
  <profile>
    <id>test-artifact-Test-artifact</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>test-artifact-Test-artifact</id>
        <url>https://test-artifact-156041422561.d.codeartifact.ap-south-1.amazonaws.com/maven/Test-artifact/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
</servers>
